/* General */
.heading-container {
  padding: 4% 0;
  text-align: center;
}
.common-heading {
  text-align: center;
  font-size: 2.5vw;
  font-family: Poppins;
}
.common-heading:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  background: #B01116;
}

/* Home Starts */
header {
  background-color: black;
  color: white;
  padding: 20% 10%;
}
.main-heading {
  text-align: center;
}
#typewriter {
  font-size: 400%;
  padding: 0 1%;
  font-family: PoppinsBold;
  border-right: 3px solid #b01116;
  /* animation: blink-caret 0.5s step-end 8 forwards; */
  animation: blink-caret 0.5s step-end infinite;
}

/* USG Starts */
.container {
  padding: 5% 0;
}
.usg-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.secretariat-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.image-container {
  width: 350px;
  margin: 0 1% 1.5% 1%;
  overflow: hidden;
  text-align: center;
}
.image-container img {
  object-fit: cover;
  object-position: center;
  width: 350px;
  height: 235px;
  border-radius: 10px;
}
.name {
  font-family: Raleway;
  padding-top: 2%;
  font-size: 125%;
}
.position {
  padding: 1%;
  font-family: RalewayThin;
  font-size: 100%;
  font-style: italic;
}

/* Animation */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #b01116;
  }
}

/* Responsive */
@media screen and (max-width: 600px) {
  .common-heading {
    font-size: 200%;
  }
  .heading-container {
    padding: 8% 0;
  }
  .common-heading:before {
    height: 1px;
  }
  header {
    padding: 0;
  }
  .main-heading {
    padding-top: 50%;
  }
  #typewriter {
    font-size: 300%;
    padding: 0 2%;
    border-right: 2px solid #b01116;
  }
  .image-container {
    width: 280px;
    margin: 0 0 2% 0;
  }
  .image-container img {
    width: 256px;
  }
}
